<!-- 1. Barra de busqueda. -->
<div class="search-container">
  <input 
    type="text" 
    placeholder="¿Qué quieres escuchar? (Escribe el nombre.)" 
    (keyup.enter)="buscar(searchInput.value)"
    (keyup)="buscar(searchInput.value)" 
    #searchInput
  >
</div>

<!-- 2. Contenido principal. -->
@if (!isSearching()) {
  @if (album$ | async; as album) {
    <div id="main">
        <app-song-info [song]="album?.tracks?.at(0)" [cover]="album?.images?.at(0)" displayMode="main"></app-song-info>
        <app-playlist [playlist]="album.tracks" [cover]="album?.images?.at(0)"></app-playlist>
    </div>
  }
}

@if (isSearching()) {
  <div class="search-results-wrapper">

    <!--Sección para las canciones.-->
    @if (tracks().length > 0) {
      <div class="results-section">
        <h2>Canciones</h2>
        <div class="card-list">
          @for (track of tracks(); track track.id) {
            <div class="card" (click)="playTrack(track)">
              <img [src]="track.album.images.at(0)?.url" alt="{{ track.name }}" class="card-image">
              <div class="card-title">{{ track.name }}</div>
              <div class="card-subtitle">{{ track.artists.at(0)?.name }}</div>
            </div>
          }
        </div>
      </div>
    }

    <!--Sección para el artista.-->
    @if (artists().length > 0) {
      <div class="results-section">
        <h2>Artistas</h2>
        <div class="card-list">
          @for (artist of artists(); track artist.id) {
            <div class="card" (click)="goToArtist(artist.id)">
              <img [src]="artist.images.at(0)?.url" alt="{{ artist.name }}" class="card-image artist">
              <div class="card-title">{{ artist.name }}</div>
            </div>
          }
        </div>
      </div>
    }

    <!-- Sección para el album.-->
    @if (albums().length > 0) {
      <div class="results-section">
        <h2>Álbumes</h2>
        <div class="card-list">
          @for (album of albums(); track album.id) {
            <div class="card" (click)="goToAlbum(album.id)">
              <img [src]="album.images.at(0)?.url" alt="{{ album.name }}" class="card-image">
              <div class="card-title">{{ album.name }}</div>
              <div class="card-subtitle">{{ album.artists.at(0)?.name }}</div>
            </div>
          }
        </div>
      </div>
    }

    @if (tracks().length === 0 && artists().length === 0 && albums().length === 0) {
      <div class="no-results">
        <p>No se encontraron resultados para "{{ searchInput.value }}".</p>
      </div>
    }

  </div>
}