:host {
  display: block;
  padding: 30px;
  color: var(--spotify-text-primary);
  background: linear-gradient(var(--spotify-gray-medium), var(--spotify-black) 400px);
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

.detail-header {
  display: flex;
  align-items: flex-end; 
  gap: 20px;
  margin-bottom: 40px;
}

.detail-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.detail-info h1 {
  font-size: 4em;
  font-weight: 900;
  margin: 10px 0;
}

.subtitle {
  color: var(--spotify-text-secondary);
  font-weight: 500;
}

.track-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px 16px;
  background-color: transparent; 
  margin-bottom: 5px;
}

.track-item:hover {
  background-color: rgba(255,255,255, 0.1);
}

.track-number {
  color: var(--spotify-text-secondary);
  font-size: 1.1em;
  width: 20px;
  text-align: right;
}

.track-details {
  flex: 1;
  min-width: 0;
}