.album-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    padding: 0;
    overflow: hidden;
}

img {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 8px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.album-name {
    margin-top: 8px;
    font-size:  1rem;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}