/* src/app/secondary/home-child/home-child.css */
:host {
  display: block;
  padding: 20px;
  color: var(--spotify-text-primary);
  /* Aseguramos que ocupe el espacio */
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 100%;
  max-width: 500px;
  padding: 15px 20px;
  border-radius: 50px;
  border: none;
  background-color: var(--spotify-gray-light);
  color: var(--spotify-text-primary);
  font-size: 1.1em;
  outline: none;
  transition: background-color 0.2s;
}

input[type="text"]:focus {
  background-color: #333;
}

/* --- Contenedor de Resultados --- */
.results-container {
  display: grid;
  /* Hacemos 3 columnas */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.results-section {
  background-color: var(--spotify-gray-dark);
  padding: 20px;
  border-radius: 8px;
}

.results-section h2 {
  font-size: 1.5em;
  font-weight: 500;
  border-bottom: 1px solid var(--spotify-gray-light);
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.result-item {
  padding: 10px;
  border-radius: 4px;
}

.result-item:hover {
  background-color: var(--spotify-gray-light);
}

.result-item p {
  font-size: 1em;
  font-weight: 300;
  color: var(--spotify-text-secondary);
}