:host {
  display: block;
  height: 100vh; 
  background-color: var(--spotify-black); 
  color: var(--spotify-text-primary);
}

.main-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content-area {
  flex: 1; 
  overflow-y: auto; 
  
  padding-bottom: 90px; 
}

.player-area {
  position: fixed; 
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px; 
  background-color: var(--spotify-gray-dark);
  border-top: 1px solid var(--spotify-gray-light);
  z-index: 1000; 
}