<section class="recommended-section">
    <h2>WE THINK ABOUT YOU...</h2>
    <article class="albums-grid">
        <div class="album-card" *ngFor="let album">
            <img [src]="album.images[0]?.url" [alt]="album.name">
            <p class="album-name">{{ album.name }}</p>
        </div>

        <div class="album-card" *ngFor="let album">
            <img [src]="album.images[1]?.url" [alt]="album.name">
            <p class="album-name">{{ album.name }}</p>
        </div>

        <div class="album-card" *ngFor="let album">
            <img [src]="album.images[2]?.url" [alt]="album.name">
            <p class="album-name">{{ album.name }}</p>
        </div>

        <div class="album-card" *ngFor="let album">
            <img [src]="album.images[3]?.url" [alt]="album.name">
            <p class="album-name">{{ album.name }}</p>
        </div>

        <div class="album-card" *ngFor="let album">
            <img [src]="album.images[4]?.url" [alt]="album.name">
            <p class="album-name">{{ album.name }}</p>
        </div>

        <div class="album-card" *ngFor="let album">
            <img [src]="album.images[5]?.url" [alt]="album.name">
            <p class="album-name">{{ album.name }}</p>
        </div>

        <div class="album-card" *ngFor="let album">
            <img [src]="album.images[6]?.url" [alt]="album.name">
            <p class="album-name">{{ album.name }}</p>
        </div>

        <div class="album-card" *ngFor="let album">
            <img [src]="album.images[7]?.url" [alt]="album.name">
            <p class="album-name">{{ album.name }}</p>
        </div>

        <div class="album-card" *ngFor="let album">
            <img [src]="album.images[8]?.url" [alt]="album.name">
            <p class="album-name">{{ album.name }}</p>
        </div>
    </article>
</section>