<main class="player-wrapper">

    <nav class="search-bar">
        <app-search-bar></app-search-bar>
    </nav>

    <section class="player">
        <div class="main-view">
            <router-outlet></router-outlet>
        </div>

        <aside class="aside">
            @if (currentSong()) {
            <app-song-info [song]="currentSong()" [cover]="currentCover()" displayMode="main"></app-song-info>
            } 
            <app-playlist></app-playlist>
        </aside>
    </section>
    
    <app-audio-controller 
        [currentSong]="currentSong()" 
        [playlist]="playlist()">
    </app-audio-controller>
</main>