@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

:root {
  --spotify-green: #1DB954;
  --spotify-light-green: #1ED760;
  --spotify-black: #121212;
  --spotify-gray-dark: #181818;
  --spotify-gray-light: #282828;
  --spotify-text-primary: #FFFFFF;
  --spotify-text-secondary: #B3B3B3;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(135deg, var(--spotify-gray-dark) 0%, var(--spotify-black) 60%);
  background-attachment: fixed; 

  color: var(--spotify-text-primary);
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--spotify-gray-light);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--spotify-text-secondary);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--spotify-text-primary);
}