h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 24px;
    letter-spacing: 2px;
    color: #ffffff;
    text-transform: uppercase;
}

.albums-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    row-gap: 32px;
    column-gap: 32px;
    justify-content: center;
}

app-album {
    border: 1px solid #a7a7a7;
    display: block;
    padding: 15px 15px;
    background-color: #000000;
    border-radius: 12px;
    transition: transform 0.3s ease;
    overflow: hidden
}

app-album:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateY(-4px);
}